
body {
    background-color: #eeeeee;
    font-family: "Cambria", Helvetica, Arial, sans-serif;
    text-align: center;
}

.card {
    float: left;
    margin: 5px;
    width: 80px;
    height: 100px;
    background-color: inherit;
}
.card .clickable {
    cursor: pointer;
}

.holder {
	width: 360px;
	margin: 0px auto;
}

.float-clear {
    clear: both;
}

.score {
}

.overlay {
    z-index: 1;
    position: absolute;
    top: 40%;
    left: 35%;
    width: 30%;
    border: black solid 2px;
    text-align: center;
    background-color: white;
    color: red;
    padding-bottom: 8px;
}
