
body {
    background-color: #eeeeee;
    font-family: "Cambria", Helvetica, Arial, sans-serif;
    text-align: center;
}

.card {
    float: left;
    cursor: pointer;
    margin: 5px;
    width: 80px;
    height: 100px;
    background-color: inherit;
}

.holder {
	width: 360px;
	margin: 0px auto;
}

.float-clear {
    clear: both;
}

.score {
    padding: 5px;
    border: solid black 2px;
}
